<Header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</Header>
<body id="center">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Assignment 2</a>
        
      </nav>
    <div style="margin: 0 auto;"> 
    <div class="container p-3 my-3 border" style="width: 18rem;">
        <form>
            <div class="form-group">
             <label for="fname">Name:</label><br>
             <input type="text" id="fname" name="fname"><br>
            </div>
            <div>
             <label for="lname">Surname:</label><br>
             <input type="text" id="lname" name="lname">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form> 
          
    </div>
</div>
</body>